@charset "utf-8";

body {
    font-family : "맑은 고딕", verdana, san-serif;
    font-size : 12px;
}
section #Intro {
    clear : both;
    height : 550px;
    background-image : url("img/intro.png");
    background-attachment: fixed;
    background-size : cover;
    background-position : center;
    overflow : hidden;
}
section #Intro #introText {
    padding : 175px;
    color : rgb(255, 255, 255);
    text-shadow : 3px 3px 5px rgb(0, 0, 0);
}
section #Intro #introText #introTitle {
    font-size : 4rem;
}
section #Intro #introText #introSub {
    font-size : 2rem;
}
section #ext {
    padding : 25px;
    position : relative;
    height : 400px;
    font-size : 1.3rem;
}
section #ext h1 {
    color : rgb(127, 17, 70);
}
section #ext #btn {
    width : 100px;
    height : 40px;
    border : 2px solid rgb(187, 26, 102);
    font-size : 1.3rem;
    color : rgb(255, 255, 255);
    background-color : rgb(127, 17, 70);
}
section #preFoot {
  padding : 25px;
  position : relative;
  background-color : rgb(242, 242, 242);
  font-size : 1.3rem;
}
section #preFoot h1{
    color : rgb(127, 17, 70);
}
